{% extends 'loginuser/base.html' %}

{% block content %}
	
	<h1>Login</h1>
<br/>
{% if form.errors %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
            There was an error with your form...
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
{% endif %}	

		<form action="" method=POST>
			{% csrf_token %}
  
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">email</label>
    <input type="text" class="form-control" name="email" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" name="password">
  </div>
  


			

			<input type="submit" value="Submit" class="btn btn-secondary">

		</form>
		

<br/><br/>	
{% endblock %}